@font-face {
    font-family: Lobster;
    src: url(Lobster-Regular.ttf);
}

html {
    height: 100%;
}

body {
    margin: 0;
    color: white;
    height: 100%;
    background-image: linear-gradient(to top, rgb(105, 173, 212) 0%, rgb(23, 82, 145) 84%);
    font-family: 'Lobster', sans-serif;
}

#text {
    position: fixed;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 90%;
}

/* Css */

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    margin: 0;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("houses.svg");
    background-size: initial;
    background-position: right bottom;
    background-repeat: no-repeat;
}