<template>
    <div class="list">
        Animation list
    </div>

</template>

<script>

export default {
  components:{
  },
  name: "AnimationList"
};
</script>

<style lang="scss" scoped>
    .list{color: wheat}
</style>
