<template>
    <div>
        <splash v-if="loading"></splash>
        <router-link to="/" tag="a">1</router-link>
        <router-link to="/list/" tag="a">2</router-link>

        <transition name="fade">
            <router-view class="view"></router-view>
        </transition>
        <Reeee></Reeee>
    </div>

</template>

<script>
import Reeee from "./../components/Footer.vue";
import Splash from "./../components/Splash.vue";

export default {
  data() {
    return {
      loading: true
    };
  },
  components: {
    Reeee,
    Splash
  },
  name: "App",
  methods: {},
  created: function() {
    // Тест возможностей сплеш заставки
    setTimeout(() => {
      this.$data.loading = false;
    }, 3000);
  }
};
</script>