<template>
    <div class="splash" id="splash">
        <h1>Picturesque</h1>
        <div id="splashStatus">{{status}}</div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      status: "Loading"
    };
  },
  name: "splash"
};
</script>
