@font-face {
    font-family: Caveat;
    src: url(Caveat-Regular.ttf);
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: radial-gradient(circle,#910edd,#e906e9);
    background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);
    color: white;
    height: 100%;
    font-family: 'Caveat', cursive;
}

#text {
    position: fixed;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 80%;
    text-align: center;
    h1 {
        font-size: 3em;
    }
    p{
        font-size: 1.7em;
    }
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

// #background1{
//     @extend .background;
//     background-image: url("drawing.svg");
//     background-size: cover;
//     background-position: right top;
//     background-repeat: no-repeat;
// }
// #background2{
//     @extend .background;
//     background-image: url("middle.svg");
//     background-size: contain;
//     background-position: 0px 0px;
//     background-repeat: no-repeat;
//     background-origin: border-box;
// }
/* Css */

body {
    margin: 0;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    margin: 0;
}
