@font-face {
    font-family: Barkentina;
    src: url(Barkentina-1.otf);
}

html {
    height: 100%;
}

body {
    margin: 0;
    // background: radial-gradient(
    //     circle,
    //     yellow,
    //     #f06d06
    //   );
      background: radial-gradient(circle,#db3f3f,#9e3636);
    color: white;
    height: 100%;
    font-family: 'Barkentina', sans-serif;
}

#text {
    position: fixed;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 80%;
    
}
#author {
    position:fixed;
    bottom:0;
    right:0;
    padding: 10px;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#background1{
    @extend .background;
    background-image: url("drawing.svg");
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
}
#background2{
    @extend .background;
    background-image: url("middle.svg");
    background-size: contain;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-origin: border-box;
}
/* Css */

body {
    margin: 0;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    margin: 0;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("houses.svg");
    background-size: initial;
    background-position: right bottom;
    background-repeat: no-repeat;
}