input[type=text], select {
    width: 100%;
    padding: 8px 13px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#prop-form textarea {
    width: 100%;
    padding: 8px 13px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;
}

.social {
    .fab {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
    
    /* Add a hover effect if you want */
    .fab:hover {
        opacity: 0.7;
    }
    
    /* Set a specific color for each brand */
    
    /* Facebook */
    .fa-facebook-f {
        background: #3B5998;
        color: white;
    }
    
    /* Twitter */
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    .fa-vk {
        background: #4a76a8;
        color: white;
    }
}


.button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


.btn-share{
    background-color: #4a76a8; 
    &:hover{
        background-color: lighten(#4a76a8,5%);
    }
    &:active{
        background-color: lighten(#4a76a8,3%);
    }
}


.button {
    @media (max-width: $breakpoint-xs) {
        width:100%;
    }
}

.card-buttons{
    .fas{
        font-size: 1.2em;
        padding-left: 5px; 
    }


}
