// Стиль загрузки
// Экран заставки
.splash {
    z-index: 100;
    text-align: center;
    background: $main-color;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content {
    text-align: center;
    iframe {
        border: none;
    }
} // Frame fullscreen
.fullScreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
}