// Стили редактора и 
.editor {
    position: fixed;
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 10px;
    .editor-top {
        background: teal;
        div {
            display: inline-block;
        }
    }
}

.card-editor {
    display: flex;
    flex-direction: column;
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .toolbar {
        padding: 10px;
        background: black;
        color: white;
    }
    .editor-mid {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        @media (min-width: $breakpoint-xs) {
            flex-direction: row;
        }
        .editor-iframe {
            flex-grow: 3;
        }
    }
}

.editor-props {
    padding: 0px; // flex-grow:1;
    overflow-y: scroll;
    max-width: 300px;
    @media (max-width: $breakpoint-xs) {
        max-width: initial;
    }
    .prop-header {
        // Свойства открытки
        padding: 8px;
        font-size: 1.2em;
        color: white;
        background: #9e54bd;
        text-align: center;
        border-bottom: solid;
        margin-bottom: 11px;
    }
    #prop-form {
        padding: 4px;
    }
}