// Стили главной страницы и каталога
.navbar {
  ul {
    list-style: none;
    padding: 5px;
    align-items: center;
    li {
      display: inline;
      padding: 0 5px 0 5px;
    }
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 17px;
  }
}

section {
  padding: 20px 20px 20px 20px;
  background-image: linear-gradient(135deg, #fff6b7 10%, #f6416c 100%);
}

footer {
  text-align: center;
  padding: 20px;
  background: rgb(24, 24, 24);
  color: white;
}

.card {
  display: inline-flex;
  flex-direction: column;
  height: 300px;
  overflow: hidden;
  min-width: 300px;
  max-width: 600px;
  background: black;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  margin: 10px;
  transition-property: color, background-color, box-shadow, transform;
  transition-duration: 0.15s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  }
  iframe {
    flex-grow: 1;
    pointer-events: none;
  }
  .card-buttons {
    justify-content: end;
    //background: wheat;
    color: white;
    font-size: 1.1em;
    &>div {
      margin: 10px;
    }
  }
}

.site-header {
  background: #6075cb;
  padding: 20px;
  color: white;
}

.cardsCatalogue {
  padding: 10px;
  background-image: linear-gradient(135deg, #f97794 10%, #623aa2 100%);
}

.social-container{
  background-image: linear-gradient(135deg,#21c1ce 10%,#930606 100%);
  color: white;
  padding: 40px;
}