// Цвета темы
$main-color: #6075cb;
$secondary-color: #ff22ff;

// Шрифты
$font-stack: 
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif;

// Размеры экранов
$breakpoint-xs: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$fa-font-path : "../font"